body {
    font-family: Calibri, 'Arial', 'Helvetica', sans-serif;
    margin: 2% 10% 2% 10%;
    width: 80%;
}

@media only screen and (max-width: 600px) {
    body {
        margin: 5%;
        width: 90%;
    }
}

a {
    text-decoration: none;
    color: #1966FF;
}
a:hover {
    text-decoration: underline;
}
table.workexp {
    width: 100%;
    margin: 0;
    padding: 0;
}

table.workexp td, table.workexp tr {
    margin: 0;
    padding: 0;
}

.profile a, .profile ul, .profile p {
    font-size: 18px;
}
.profile ul {
    line-height: 150%;
    margin: 0;
    padding-left: 20px;
}

.profile h1, .profile h3, .profile h4, .profile p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

span.heading {
    font-size: 40px;
    font-weight: bold;
}